@media (min-width: 768px){
.carrusel{
    display: block;
    width: 100%;
}

.carouselComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.container{
    background: linear-gradient(rgba(198, 202, 205, 0.5), rgba(198,202,205,2)), url("../../../public/images/fondo2.jpg");
    background-repeat: repeat;
}

.container h1{
    padding-top: 100px;
    font-weight: bolder;
    text-align: center;
    font-size: 10vh;
    text-shadow: 4px 4px 6px rgba(182, 122, 122, 0.5);
}

.container h2{
    padding-top: 100px;
    font-weight: bolder;
    text-align: center;
    font-size: 7vh;
    text-shadow: 4px 4px 6px rgba(182, 122, 122, 0.5);
}

.aviso{
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
}

@media (max-width: 767px){
    .carrusel{
        display: block;
        width: 100%;
    }
    
    .carouselComponent{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    
    .container{
        background: linear-gradient(rgba(198, 202, 205, 0.5), rgba(198,202,205,2)), url("../../../public/images/fondo2.jpg");
        background-repeat: repeat;
    }
    
    .container h1{
        padding-top: 100px;
        font-weight: bolder;
        text-align: center;
        font-size: 10vh;
        text-shadow: 4px 4px 6px rgba(182, 122, 122, 0.5);
    }
    
    .container h2{
        padding-top: 100px;
        font-weight: bolder;
        text-align: center;
        font-size: 7vh;
        text-shadow: 4px 4px 6px rgba(182, 122, 122, 0.5);
    }
    
    .aviso{
        display: flex;
        width: 95%;
        margin: 0 auto;
    }
}